demo-rpc-client-silverlight/Service References/Northwind/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/demo_rpc_server_mvc.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Northwind_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="GetCustomers" />
  </wsdl:message>
  <wsdl:message name="Northwind_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="Northwind_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="GetOrders" />
  </wsdl:message>
  <wsdl:message name="Northwind_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="GetOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="Northwind">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="urn:Northwind/GetCustomers" message="Northwind_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="urn:Northwind/GetCustomersResponse" message="Northwind_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="urn:Northwind/GetOrders" message="Northwind_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="urn:Northwind/GetOrdersResponse" message="Northwind_GetOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>